.App {
  text-align: center;
  display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: #209cee;
    padding: 30px;
}

.app-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #d6d6d6;
  border-radius: 50%;
  border-top-color: #6200ee;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  margin-right: 10px;
  position: absolute;
  top: 45%;
  left: 50%;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


.heading{
  color: #fff;
  font-size: 2rem;
}
.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  width: 90%;
  padding: 5px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 10px;
}

.btn{
  margin-right: 2px;
  color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.input{
  width: 100%;
  margin: 5px;
  border-radius: 3px;
  /* box-shadow: 1px 1px 1px rgb(248, 248, 248); */
  display: flex;
  font-size: 1rem;
  margin-bottom: 6px;
  padding: 10px;
  margin-right: 7px;
} 

input[type=text] {
  /* width: 100%; */
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  border: 2px solid #007bff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.submitbtn{
  margin-right: 10px;
  color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}